.env.*
!.env.example
*.log
.git
.gitignore
README.md
indexer/node_modules
indexer/generated
indexer/.env
indexer/README.md
contracts/node_modules
contracts/artifacts
contracts/cache
contracts/README.md
frontend/node_modules
frontend/dist
