DATABASE_URL="postgresql://postgres:postgres@localhost:5432/pinky_swear"
RPC_HTTPS_URL="http://localhost:8545"
RPC_WS_URL="ws://localhost:8546"
NETWORK="localhost"
CORS_ORIGIN="http://localhost:5173"
PORT=4000
